{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Введите ссылку</title>
</head>

<body>
  <div class="jumbotron" style="background-color: #ffffff; padding-bottom: 0px; padding-top: 32px;">
  <h1 class="display-4">Парсер mvideo.ru</h1>
  <p class="lead">Парсер Mvideo автоматически получает информацию о товарах с сайта mvideo.ru по заданным категориям.</p>
  <p>Парсер собирает подробную информацию по товарам с сайта mvideo.ru (наименование, артикул, цену, категорию, URL и другие). Для работы Вам нужно указать только ссылку на нужную категорию или подкатегорию.
  Более 7 форматов экспорта результатов парсинга. Сохраняйте в удобном виде для последующего редактирования и экспорта в свой магазин.</p>
  <hr class="my-4">
  <p>Введите конечную ссылку на интересующую вас категорию товаров и количество страниц, которые надо спарсить</p>
  <form class="" action="{% url 'parsing_url' %}" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="input-group flex-nowrap mt-5">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" style="background-color: #ffffff;"><a href="https://www.mvideo.ru/"><img src="{% static "mon_app/images/mvideo_logo.jpg" %}" height="20"></img></a></span>
      </div>
        <input id="url_target" name="url_target" type="text" class="form-control" placeholder="Введите ссылку" aria-describedby="url_target"  value="{{ url_target }}">
        <input id="page_count" name="page_count" type="text" class="form-control" placeholder="Введите количество страниц" aria-describedby="page_count"  value="{{ page_count }}">
        <div class="input-group-append">
          <button class="btn btn-danger" type="submit" id="url_tagret">Парсить</button>
        </div>
      </div>
    </div>
  </form>

<!-- <form class="" action="{% url 'parsing_url' %}" method="post"> -->
  {% csrf_token %}
  <div class="container">
    <div class="input-group flex-nowrap mt-5">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1" style="background-color: #ffffff;"><a href="https://www.mvideo.ru/"><img src="{% static "mon_app/images/dns_logo.png" %}" height="20"></img></a></span>
    </div>
      <input id="url_target" name="url_target" type="text" class="form-control" placeholder="Введите ссылку" aria-describedby="url_target"  value="{{ url_target }}">
      <input id="page_count" name="page_count" type="text" class="form-control" placeholder="Введите количество страниц" aria-describedby="page_count"  value="{{ page_count }}">
      <div class="input-group-append">
        <button class="btn btn-warning" type="submit" id="url_tagret">Парсить</button>
      </div>
    </div>
  </div>
</form>

  <br><br>
  <center><a class="btn btn-primary" href="{% url 'admin:index' %}">Панель администатора</a></center>
  </div>

</body>

</html>
