{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'mon_app/css/other.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="container">
     <div class="error404page">
         <div class="newcharacter404">
             <div class="chair404"></div>
             <div class="leftshoe404"></div>
             <div class="rightshoe404"></div>
             <div class="legs404"></div>
             <div class="torso404">
                 <div class="body404"></div>
                 <div class="leftarm404"></div>
                 <div class="rightarm404"></div>
                 <div class="head404">
                     <div class="eyes404"></div>
                 </div>
             </div>
             <div class="laptop404"><br><br><br><br><center><div class="message-laptop"></div></center></div>
         </div>
     </div>
 </div>
 <div class="message-box">
   <h1>Работы над этим разделом активно ведутся</h1>
       <div class="buttons-con">
         <div class="action-link-wrap">
           <a onclick="history.back(-1)" class="link-button link-back-button">Назад</a>
           <a href="/admin/mon_app/item/" class="link-button">Панель администратора</a>
         </div>
       </div>
 </div>
</body>
</html>
